<h2>Here's a form to add a new cryptid!</h2>

<form action="/cryptids" method="POST">
    <label for="cryptids-type">Type:</label>
    <input type="text" name="type" id="cryptids-type">

    <label for="cryptids/name">Name:</label>
    <input type="text" name="name" id="cryptids-name">

    <input type="submit" value="Add dat cryptid in!">

</form>